
/* 
body
{
    background-color: #E0E0E0;
}
*/
.container-fluid
{
	margin-top: 40px;
}
img 
{
	margin-bottom: 40px;
}
li
{
	text-align: left;
}
th
{
	text-align: center;
}


/* custom IDs and classes */
.hasAudioPlayer
{
	width: 300px;
}
.custom-center
{
	text-align: center;
}
#infos a
{
	color: #1c94c4;
}